.catalog-header {
  margin: 0;
  padding: 0;
  text-align: center;
}

.catalog-header__title {
  padding-top: 28px;
  padding-bottom: 28px;
}

.catalog-header__subtitle {
  padding-bottom: 28px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.photo-item__title {
  padding: 15px 0 5px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__text {
  text-transform: none;
  padding: 0 0 15px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__likes {
  padding: 0 0 48px 20px;
  text-align: left;
}

.likes__count {
  font-weight: 700;
}

.catalog-video {
  text-align: center;
}

.catalog-video__title {
  margin: 0 0 30px 0;
}

.catalog-video__subtitle {
  margin: 0;
}

.catalog-video__clip {
  margin: 38px 0 38px 0;;
}
