.form__fieldset {
  padding: 0;
  border: none;
  width: 280px;
  margin: 0 auto;
}

.form__legend {
  text-align: center;
  font-weight: @title-font-weight;
  font-size: @title-font-size-mobile;
  line-height: @title-line-height;
  padding: 24px 0 20px 0;
}

.form__input {
  width: 280px;
  padding: 16px 0 16px 16px;
  background-color: @form-color;
  border: 2px solid @form-color;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-weight: @title-font-weight;
  font-size: @title-font-size-mobile;
  line-height: @title-line-height;
  color: @dark-color;
}

.form__label {
  padding-left: 16px;
}

.form__container {

  margin-bottom: 16px;
  width: 280px;
}

.form__container--fullname {
  display: flex;
}

.form__container--phone {
  display: flex;
}

.form__container--e-mail {
  display: flex;
}

.form__select-text {
  text-transform: none;
  font-weight: @title-font-weight;
  font-size: @title-font-size-mobile;
  line-height: @title-line-height;
  color: @dark-color;
}

.form__input--textarea {
  padding-bottom: 90px;
  width: 280px;
  margin-bottom: 56px;
}

.form__wrapper--button {
  width: 280px;
}

.form__remind-text {
  text-align: right;
  padding: 5px 10px 53px 0;
  margin: 0;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: @tablet-width) {
  .form__container-contacts {
    display: flex;
    justify-content: center;
  }

  .form__wrapper--fullname {
    display: flex;
  }

  .form__wrapper--contact-information {
    display: flex;
    margin-left: 86px;
  }

  .form__fieldset--impression {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  .form__container--select {
    justify-self: center;
  }

  .form__fieldset--places-visited {
    display: grid;
    grid-template-columns: 224px 224px;
  }

  .form__container--places-visited {
    width: 224px;
  }

  .form__container--textarea {
    width: 648px;
  }

  .form__input--textarea {
    width: 648px;
  }

  .form__wrapper--button {
    display: flex;
    justify-content: space-between;
    width: 648px;
    max-height: 58px;
    margin-bottom: 64px;

  }

  .button-review {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .form__container {
    width: 430px;
  }

  .form__input {
    width: 430px;
  }

  .form__wrapper--contact-information {
    margin-left: 128px;
  }

  .form__wrapper--impression {
    display: flex;
    width: 960px;
  }

  .form__fieldset--impression {
    display: flex;
  }

  .form__container--select {
    justify-self: center;
    width: 280px;
  }

  .form__fieldset--places-visited {
    display: flex;
  }

  .form__container--places-visited {
    width: 172px;
  }

  .form__container--textarea {
    display: flex;
    justify-content: center;
    width: 960px;
  }

  .form__input--textarea {
    width: 768px;
  }

  .form__wrapper--button {
    width: 768px;
    margin: 0 auto;
  }
}
