.main-footer {
  text-align: center;
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: @title-line-height;
  font-weight: @title-font-weight;
  color: @dark-color;
  text-decoration: none;
}

.html-logo__link {
  color: @dark-color;
  text-decoration: none;
 }

.social__list {
  padding: 0;
  margin: 0;
 }

.social__item {
  list-style: none;
 }
