.main-footer {
  text-align: center;
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: @title-line-height;
  font-weight: @title-font-weight;
  color: @dark-color;
  text-decoration: none;
}

.main-footer__hashtag-container {
  margin-bottom: 35px;
}

.main-footer__social {
  margin-bottom: 47px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
