.main-header__menu {
  display: flex;
  justify-content: center;
  height: 56px;
}

@media (max-width: @mobile-width-only) {
  .main-header__menu {
    position: relative;
  }

  .main-header__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 62px;
    height: 55px;
  }
}
