.main-header__menu {
  display: flex;
  justify-content: center;
  height: 56px;
}

.main-header__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__menu {
  width: 768px;
  margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-header__menu {
  width: 1200px;
  margin: 0 auto;
  }
}
