.photo-item__title {
  padding: 15px 0 5px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__text {
  text-transform: none;
  padding: 0 0 15px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__likes {
  padding: 0 0 48px 20px;
  text-align: left;
}


@media (min-width: @tablet-width) {
  .photo-item__image-land {
    width: 648px;
    height: 400px;
  }

  .photo-item__image-places {
    width: 324px;
    height: 267px;
  }

  .catalog-video__preview {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: @desktop-width) {
  .photo-item__image-places {
    width: 400px;
    height: 267px;
  }

  .photo-item__image-land {
    width: 1200px;
    height: 400px;
  }

  .catalog-video__preview {
    width: 800px;
    height: 500px;
  }
}
