.photo-item__title {
  padding: 15px 0 5px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__text {
  text-transform: none;
  padding: 0 0 15px 20px;
  text-align: left;
  margin: 0;
}

.photo-item__likes {
  padding: 0 0 48px 20px;
  text-align: left;
}
