.reasons-header {
  text-align: center;
}

.reasons-header__title {
  font-weight: @title-font-weight;
  font-size: @title-font-size-mobile;
  line-height: @title-line-height;
  text-transform: uppercase;
  padding: 32px 20px 35px 18px;
  margin: 0;
}

.reasons-header__subtitle {
  padding: 0 20px 32px 18px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reasons-header {
    width: 768px;
  }

  .reasons-header__container {
    width: 522px;
    margin: 0 auto;
  }

  .reasons-header__title {
    font-size: @title-font-size-tablet;
  }
}


@media (min-width: @desktop-width) {
  .reasons-header {
    width: 1200px;
  }
}
