.reasons__list {
  margin: 0;
  padding: 0;
}

.reasons__title {
  font-weight: @title-font-weight;
  font-size: @title-font-size-mobile;
  line-height: @title-line-height;
  padding: 39px 0 13px 0;
  margin: 0;
}

.reasons__text {
  padding: 13px 0 35px 0;
  margin: 0;
}

.reasons__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item--blue {
  background-color: @block-color;
  text-align: center;
  color: @light-color;
  height: 450px;
}

.reasons__item--gray {
  background-color: @reasons-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reasons__item {
    width: 193px;
    text-align: center;
    margin: 0 auto;
  }

  .reasons__decor {
    display: none;
  }

  .reasons__item--blue {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    height: 256px;
  }

  .reasons__container-blue {
    max-width: 256px;
    max-height: 256px;
  }

  .reasons__picture {
    width: 512px;
    height: 256px;
  }

  .reasons__picture--bridge {
    order: -1;
  }

  .reasons__container {
    display: flex;

    margin: 59px 0 59px 0;
  }

  .reasons__container--gray {
    margin: 0 auto;
    background-color: #eeeeee;
  }
}

@media (max-width: @mobile-width-only) {
  .reasons__decor {
    position: absolute;
    left: 0px;
    top: -20px;
  }

  .reasons__item {
    position: relative;
  }

  .reasons__info {
    width: 240px;
    margin-left: 65px;
  }

  .reasons__item--souvenirs {
    margin-bottom: 52px;
  }

  .reasons__item--gray:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }
}

@media (min-width: @desktop-width) {
  .reasons__item--blue {
    width: 1200px;
  }

  .reasons__container-blue {
    max-width: 400px;
  }

  .reasons__container--gray {
    margin: 0 auto;
  }

  .reasons__picture {
    width: 800px;
  }

  .reasons__decor {
    display: none;
  }
}
