.search-hotel {
  text-align: center;
}

.search-hotel__title {
  padding: 38px 0 26px 0;
}

.search-hotel__description {
  padding-bottom: 32px;
  margin: 0;
}

.search-hotel__button {
  display: block;
  margin: 0 auto;
  min-width: 284px;
  background-color: @block-color;
  border: none;
  color: @light-color;
  padding: 16px 49px 16px 49px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
