.site-list__item {
  display: flex;
  list-style: none;
  padding: 14px 0px 14px 0px;
  justify-content: center;
  background-color: @block-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }

  .site-list__item {
    background-color: @light-color;
    color: @dark-color;
    border: none;
    font-size: 14px;
    line-height: 21px;
    width: 20%;
  }

  .site-list__item:nth-child(2) {
    margin-right: 180px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1200px;
    margin: 0 auto;
  }
}
